body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(33, 33, 33);
    display: flex;
    flex-direction: column;
    align-items: center; 
}
/*Clasa*/
.topnav {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center; 
    background-color: #e6a00a;
    position: fixed;
    top: 0; 
    width: 100%; 
    padding: 10px 0; 
}
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 10px; 
    text-decoration: none;
    font-size: 24px; 
}
.topnav a:hover {
    background-color: white;
    color: black;
    border: 3px solid #e6a00a;
}
.topnav a.active {
    background-color: #e6a00a;
    color: white;
}
.topnav .logo img {
    height: 50px;
    width: 50px;
}
/*ID*/
#text h1 {
    text-align: center;
    font-size: 80px; 
    color: white;
    text-decoration: underline;
    font-style: italic;
    margin-top: 90px;
}
#text h2 {
    text-align: left; 
    font-size: 50px; 
    color: white;
    margin-top: 10px; 
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    text-indent: 20px;
}
#text p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
    line-height: 1.2;
    color: white;
    text-indent: 50px;
}
#citat q {
    position: absolute; 
    text-align: center; 
    margin-right: 20px; 
    font-size: 25px; 
    color: white;
    line-height: 1.2;
    margin-top: 5px; 
    left: 50%; 
    transform: translateX(-50%); 
}
.rand-nou {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
    line-height: 1.2;
    color: white;
    text-indent: 40px;
    display: inline-block;
}
#text h3 {
    text-align: left; 
    font-size: 40px; 
    color: white;
    margin-top: 10px; 
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    text-indent: 20px;
}
.GaleriaMansory {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    max-width: 1200px; 
    padding: 20px; 
}

.GaleriaMansory img {
    width: 100%; 
    height: 90%; 
    border-radius: 8px; 
    box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.5);
}
.link-Mansory {
    color: #ffffff; 
    text-decoration: underline; 
}
/*Hover*/
.link-Mansory:hover {
    color: #f2f2f2; 
    cursor: pointer; 
}
.link-Mansory:active {
    color: #e6a00a;
}